body {
  background-color: #f4f4f5;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
	font-family: Poppins, sans-serif;
}

p, a {
	font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-section {
  width: 28%;
  height: 100%;
  background-color: #18181b;
	position: relative;
	/* padding: 8px; */
}

.left-section .content {
	position: absolute;
	top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
	color: #f4f4f5;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 340px;
}

.left-section .content img {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.left-section .content img:hover {
	opacity: .8;
}

.blob-gif {
	position: absolute;
	top: 28%;
  left: 50%;
	transform: translate(-50%, -50%);
}

.left-section h1 {
	font-size: 48px;
	margin: 0 0 12px;
	line-height: 1.5;
}

.left-section p {
	font-weight: 300;
	margin: 0 0 12px;
}

.right-section {
	width: 72%;
  height: 100%;
	display: flex;
	flex-direction: column;
}

.right-section .top-section {
	height: 50%;
	display: flex;
	z-index: 1;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

.right-section .footer-section {
	height: 50%;
	background-color: #fff;
	display: flex;
}

.top-section .project-image {
	width: 40%;
	background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url('../assets/project-aventureiro.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
	background-color: black;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
	position: relative;
}

.project-image:hover {
	background-image:
		linear-gradient(to bottom, rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)),
		url('../assets/project-aventureiro.png');
}

.project-controls {
	color: #f4f4f5;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-controls a {
	color: #f4f4f5;
	border-bottom: 1px solid #f4f4f5;
	padding-bottom: 2px;
	text-decoration: none;
}

.project-controls a:hover {
	border-bottom: 1px solid #ffd322;
}

.shuffle-button {
	text-align: center;
	border: 2px solid #f4f4f5;
	border-radius: 10px;
	padding: 18px 22px;
	margin-bottom: 24px;
	cursor: pointer;
}

.shuffle-button:hover {
	border: 2px solid #ffd322;
}

.shuffle-button p {
	margin: 4px 0 0;
}

.top-section .project-content {
	width: 60%;
	padding: 40px;
	color: #27272a;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.project-content h2 {
	margin: 0 0 10px;
}

.project-content p {
	font-weight: 300;
}

.tag {
	color: #71717a;
	text-transform: uppercase;
	letter-spacing: .5px;
	margin: 0 0 24px;
}

.footer-section .about-section {
	width: calc(100% - 100px);
	background-color: #f4f4f5;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 40px;
}

.footer-section .profile-section {
	width: 100px;
	background-color: #18181b;
	display: flex;
	box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.15);
}

.hidden {
	visibility: hidden;
}

.profile-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profile-section a {
	width: 100%;
	height: 100%;
	border: .9px solid #f4f4f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-section a img:hover {
	opacity: .8;
}

#mobile-disclaimer {
	font-size: 12px;
	margin: 30px 0 0;
}